<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krsukdw">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">

        </activity>
        <activity android:name=".Dosen2PilihActivity" />
        <activity android:name=".RecyclerViewLihatKelasActivity" />
        <activity android:name=".PilihLoginActivity" />
        <activity android:name=".AwalActivity"></activity>
        <activity android:name=".RecyclerViewMatkulActivity" />
        <activity android:name=".DataDiriDosenActivity" />
        <activity android:name=".DataDiriMhsActivity" />
        <activity android:name=".RecyclerViewKrsActivity" />
        <activity android:name=".EditKrsActivity" />
        <activity android:name=".RecyclerViewMhsActivity" />
        <activity android:name=".EditMatkulAdminActivity" />
        <activity android:name=".EditMhsActivity" />
        <activity android:name=".EditDosenActivity">

        </activity>
        <activity android:name=".RecyclerViewDosenActivity" >

        </activity>
        <activity android:name=".AdminPilihActivity" />
        <activity android:name=".DosenPilihActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>